* {
    background-color: whitesmoke;
}

.link__container {
    background-color: rgb(155, 166, 166);
}

.instagram__link {
    height: 5em !important;
    width: 5em !important;
    background-color: rgb(168, 166, 166);
}