* {
    background-color: rgb(87, 168, 114);
    padding-top: 20;
}


.instagram__link {
    height: 5em !important;
    width: 5em !important;
    background-color: rgb(168, 166, 166);
    border-radius: 2rem;
}