
.instagram__link:hover {
    height: 6em !important;
    width: 10em !important;
    justify-items: center;
    /* background-color: rgb(168, 166, 166); */
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    margin-left: 10px;
    opacity: 0.5;
}

.like__follow {
    margin-left: 60px;
    margin-top: 20px;
}

.quotes {
    font-size: bold;
}

.quotes__row {
    justify-items: flex-start;
}