* {
    /* background-color: rgb(red, green, blue); */
    padding-top: 20px;
}


.instagram__link {
    height: 2em !important;
    width: 5em !important;
    background-color: rgb(168, 166, 166);
    border-radius: 2rem;
}

.quotes {
    font-size: bold;
}