
.instagram__link {
    height: 6em !important;
    width: 10em !important;
    justify-items: center;
    background-color: rgb(168, 166, 166);
    transition: all 0.5s ease-in-out;
    border-radius: 2rem;
    margin-left: 10px;
}

.like__follow {
    margin-left: 50px;
}

.quotes {
    font-size: bold;
}

.quotes__row {
    justify-items: flex-start;
}