* {
  margin: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  background: -webkit-linear-gradient(to right, #2dfd5a, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2dfd5a, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app > img {
  height: 250px;
  border-radius: 3rem;
  padding: 12px;
}
