.img__header {
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
  font-size: large;
}

.img-grid {
  margin: 20px auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  cursor: pointer;
}

.img-grid img {
  width: 700px;
  height: 500px;
  border-radius: 1rem;
  object-fit: contain;
  transform: matrix3d(100ms);
}

.img-grid img:hover {
  opacity: 0.5;
  
}

.img__description {
  font-style: italic;
}

.img__location {
  font-size: 20px;
}

.collapse {
  width: 68px;
  height: 25px;
  text-decoration: none;
  background-color: rgb(97, 241, 40);
}

.collapse:hover {
  background-color: rgb(97, 235, 30);
}
