.quotes__container {
    background-color: antiquewhite;
    padding: 10px;
}

.quotes__line {
    padding: 15px;
}

.photo__quotes {
    height: 400px;
    font-size: x-large;
    padding: 15px;
    font-style: italic;
}

.quotes__writer {
    color: rgb(5, 118, 155);
    font-weight: bold;
}

.header__quotes {
    font
}