.quotes__container {
    background-color: antiquewhite;
    padding: 10px;


}

qoute
.photo__quotes {
    height: 400px;
    font-size: x-large;
    padding-bottom: 10px;
    padding: 15px;
    font-style: italic;
}

.quoteswriter {
    color: rgb(5, 118, 155);
    font-weight: bold;
}