.info__container {
    width: 20%;
    margin-left: 10px;
}

.photo__container {
    height: 100px;
    margin-top: 4px;
}

.avatar__me {
    border-radius: 2rem;
}

.about__me {
    margin: 20px;
    font-size: larger;
}

.about__container {
    margin-top: 4px;
}

.collapse {
    text-decoration: none;
    background-color: rgb(177, 177, 24);
}

.collapse:hover {
    color: lightgrey;
}