.headerContainer {
  display: flex;
  background: -webkit-linear-gradient(to right, #2dfd5a, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2dfd5a, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__photo {
  width: 100%;
  height: 500px;
}